@media screen and (min-width: 1px) and (max-width: 914px) {

    body{
        background: linear-gradient(to right, #6AECFA,#3992FA);
        height: 914px;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        color: rgb(0, 0, 0);
    }
    span{
        color: rgb(255, 0, 0);
    }
    .Cabeçalho{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 70px;
        width: 24px;
    }
    .BotãoInicial{
        text-align: center;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 20px;
        display: flex;      
    }
    .apresentação{
        text-align: center;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;

    }
}
